<div class="card">
  <div class="card-header">
    <h2>Edycja</h2>
  </div>

  <%= render 'form', pin: @pin %>

  <div class="card-footer buttons-center">
    <%= link_to 'Cofnij', pins_path, class: "btn btn-primary" %>
    <%= link_to 'Pokaż', @pin, class: "btn btn-primary" %>
  </div>
</div>